@model DocSearchAIO.DocSearch.TOs.OptionDialogResponse

<div class="modal fade bd-example-modal-xl" id="optionModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionModalLabel">Suchoptionen </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="input-group mb-2 col-md-6 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                  id="labelCountResultsPerPage">Anzahl Suchergebnisse pro Seite</span>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="listSizeDropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Html.DisplayFor(p => p.ItemsPerPage)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="listSizeDropdown" id="listSizeSelector">
                                @{
                                    var active20 = Model.ItemsPerPage == 20 ? "active" : "";
                                    var active50 = Model.ItemsPerPage == 50 ? "active" : "";
                                    var active75 = Model.ItemsPerPage == 75 ? "active" : "";
                                    var active100 = Model.ItemsPerPage == 100 ? "active" : "";
                                }
                                <a class="dropdown-item @active20" href="javascript:switchSizeDropDown(20)"
                                   id="switchSize_20">20</a>
                                <a class="dropdown-item @active50" href="javascript:switchSizeDropDown(50)"
                                   id="switchSize_50">50</a>
                                <a class="dropdown-item @active75" href="javascript:switchSizeDropDown(75)"
                                   id="switchSize_75">75</a>
                                <a class="dropdown-item @active100" href="javascript:switchSizeDropDown(100)"
                                   id="switchSize_100">100</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-group mb-2 col-md-12 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="labelSelectDocumentTypes">Dokument-Filter</span>
                        </div>
                        @{
                            var filterWord = Model.FilterWord ? "checked" : "";
                            var filterExcel = Model.FilterExcel ? "checked" : "";
                            var filterPowerpoint = Model.FilterPowerpoint ? "checked" : "";
                            var filterPdf = Model.FilterPdf ? "checked" : "";
                        }
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item"><input id="filterWord" name="docFilter" @(!Model.WordIndexExists ? "disabled" : "") onchange="checkCheckboxElementsFilter(this)" @filterWord type="checkbox" aria-label="Checkbox for following text input" class="mr-3 ml-3"><img src="./images/word.svg" width="40" height="40" alt="Wordfilter" /></li>
                            <li class="list-group-item"><input id="filterExcel" name="docFilter" @(!Model.ExcelIndexExists ? "disabled" : "") onchange="checkCheckboxElementsFilter(this)" @filterExcel type="checkbox" aria-label="Checkbox for following text input" class="mr-3 ml-3"><img src="./images/excel.svg" width="40" height="40" alt="Excelfilter" /></li>
                            <li class="list-group-item"><input id="filterPowerpoint" name="docFilter" @(!Model.PowerpointIndexExists ? "disabled" : "") onchange="checkCheckboxElementsFilter(this)" @filterPowerpoint type="checkbox" aria-label="Checkbox for following text input" class="mr-3 ml-3"><img src="./images/powerpoint.svg" width="40" height="40" alt="Powerpointfilter" /></li>
                            <li class="list-group-item"><input id="filterPdf" name="docFilter" @(!Model.PdfIndexExists ? "disabled" : "") onchange="checkCheckboxElementsFilter(this)" @filterPdf type="checkbox" aria-label="Checkbox for following text input" class="mr-3 ml-3"><img src="./images/pdf.svg" width="40" height="40" alt="PDF-filter" /></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>