@model DocSearchAIO.DocSearch.TOs.DoSearchResult

@{
    var pagingCount = Model.DocCount <= Model.CurrentPageSize ? 0 : ((Model.DocCount - (Model.DocCount % Model.CurrentPageSize)) / Model.CurrentPageSize) + ((Model.DocCount % Model.CurrentPageSize == 0) ? 0 : 1);
    var currentPage = ((Model.CurrentPage / Model.CurrentPageSize) + 1);


    <nav aria-label="Main-Navigation">
        <ul class="pagination">
            @if (currentPage > 1 && pagingCount > 1)
            {
                var link = "javascript:doSearch('" + Model.SearchPhrase + "', " + (currentPage - 2) * Model.CurrentPageSize + ")";
                <li class="page-item">
                    <a class="page-link" href="@link" aria-label="Zurück">
                        <span aria-hidden="true">&laquo;</span><span class="sr-only">Zurück</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <div class="page-link" tabindex="-1">
                        <span aria-hidden="true">&laquo;</span><span class="sr-only">Zurück</span>
                    </div>
                </li>
            }
            
            @if (Model.DocCount == 0 || Model.DocCount <= Model.CurrentPageSize)
            {
                <li class="page-item disabled">
                    <div class="page-link" tabindex="-1">
                        <span aria-hidden="true">1</span><span class="sr-only">1</span>
                    </div>
                </li>
            }

            @for (var x = 1; x <= pagingCount; x++)
            {
                string pager;
                if ((x - 1) * Model.CurrentPageSize == Model.CurrentPage)
                {
                    pager = "<li class=\"page-item active\"><div class=\"page-link\"><span aria-hidden=\"true\">" + x + "</span></div></li>";
                }
                else
                {
                    var link = "javascript:doSearch('" + Html.Encode(Model.SearchPhrase) + "', " + ((x - 1) * Model.CurrentPageSize) + ")";
                    pager = "<li class=\"page-item\"><a class=\"page-link\" href=\"" + link + "\">" + x + "</a></li>";
                }
                if (pagingCount > 12)
                {
                    if (x == 1 || x >= pagingCount)
                    {
                        @Html.Raw(pager)
                    }
                    else
                    {
                        if (x == currentPage - 2)
                        {
                            <li class="page-item">
                                <div class="page-link">
                                    <span aria-hidden="true">&nbsp;</span>
                                </div>
                            </li>
                            @Html.Raw(pager)
                        }
                        if (x == currentPage || x == currentPage - 1 || x == currentPage + 1)
                        {
                            @Html.Raw(pager)
                        }
                        if (x == currentPage + 2)
                        {
                            @Html.Raw(pager)
                            <li class="page-item">
                                <div class="page-link">
                                    <span aria-hidden="true">&nbsp;</span>
                                </div>
                            </li>
                        }
                    }
                }
                else
                {
                    @Html.Raw(pager)
                }
            }

            @if (currentPage < pagingCount)
            {
                var link = "javascript:doSearch('" + @Model.SearchPhrase + "', " + currentPage * Model.CurrentPageSize + ")";
                <li class="page-item">
                    <a class="page-link" href="@link" aria-label="Vor">
                        <span aria-hidden="true">&raquo;</span><span class="sr-only">Vor</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <div class="page-link" tabindex="-1">
                        <span aria-hidden="true">&raquo;</span><span class="sr-only">Vor</span>
                    </div>
                </li>
            }

        </ul>
    </nav>


}